.rec{
    color: rgb(174, 7, 7);
    padding-left: 50px;
    padding-top: 20px;
    background-color: rgb(243, 157, 157);
    font-weight: bold;
    
}
.rio{
    padding-left: 50px;
    color: black;
    padding-bottom: 10px;
    font-style: oblique;
    font-weight: bolder;
}

