
.item{
    color: rgb(14, 12, 12);
     display: flex;
     padding-left: 200px;  
    margin-right: 10px;
    
    
    
}

.colors{
    background-color: white;
    height: 80px;
}
.log{
    font-weight:bolder;
    font-size: xx-large;
    font-style: italic;
    margin-left: -4rem;
    
    
}
.logos{
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.922);
     margin-left: 10px;
     margin-right: 2rem;
     margin-top: 1rem;
    
}
.cg{
   margin-left: 600px;
    color: rgba(12, 0, 10, 0.941);
    align-items: center;
    margin-top: 20px;
}

.navlink-1{
    margin-right: 2rem;
    font-weight:bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
}
.navlink-2{
    margin-right: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
}


.tog{
    margin-left: 20rem;
    
}
.design{
    font-weight:bolder;
    font-size:large;
    
}
.navlink{
    
   font-weight: bold;
  margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2rem;
    margin-left: 2rem;
}

  .tog{
    background-color: transparent;
  }
  .dropdown{
    background-color: aliceblue;
  }



